.project
.classpath
build.xml
.settings
.svn
.idea
pom.properties
.gitignore.sublime-workspace
.externalToolBuilders

*.class
*.jar
*.war
*.ear
*.log

tomcat.8080
build
logs
target
bin
test-output
work/Tomcat

release-pom.xml
.releaseBackup
pom.xml.releaseBackup
*.orig
application-product.yaml
*-product.yaml
*.externalToolBuilders
*.iml